.project-card {
  display: block;
  padding: 0;
  outline: none;
}

.project-card__media {
  position: relative;
  display: block;
  background-color: var(--bg-elevated);
  width: 100px;
  height: 400px;
  background-color: red;
}
